

.history {
    padding: 10px;
}
.history span {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    color: #ccc;
}
.search_content {
    margin-top: 30px;
    border:1px dashed orange;
}

.search_content li {
    border-bottom:1px dashed orange;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
    position: relative;
}
.search_content li a {
}
.search_content li i {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}